---
layout: page
title: Tags
permalink: /tags/
---

{% if site.posts.size == 0 %}
  <p>No post found</p>
{% endif %}

<div>
  <ul>
    {% for tag in site.tags %}
    <li>
      <a href="#{{ tag[0] }}">
        <span>{{ tag[0] }}</span>
      </a>
      <span class="count">{{ tag[1] | size }}</span>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="tags">
  {% for tag in site.tags %}
    <h2 id="{{ tag[0] }}">
      {{ tag[0] }}
    </h2>
    <ul>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {% for post in tag[1] %}
        {% if post.title != null %}
          <li>
            {{ post.date | date: date_format }} - 
            <a href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}
</div>