code {
  font-size: 120%;
}

.post-title {
  font-size: 2.5rem;
}

.post-content h2 {
  font-size: 2rem;
}

.site-header {
  border-top: none;
}

.footer-social-media-list {
  list-style: none;
  margin-left: 0;
  text-align: center;
}

.footer-col-wrapper {
  .footer-col.footer-col-3 {
    text-align: right;
  }
}