$base-font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
$base-font-size: 1.1rem;
$base-line-height: 1.5;

$text-color: #333;

$spacing-unit: 30px;
$content-width: 55rem + #{$spacing-unit};