@import "bootstrap";
@import "code";

img + em { 
  display: block;
}

blockquote {
  margin-bottom: $blockquote-margin-y;
  @include font-size($blockquote-font-size);

  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-style: italic;
}

blockquote > p:last-child {
  margin-top: -$blockquote-margin-y;
  margin-bottom: $blockquote-margin-y;
  @include font-size($blockquote-footer-font-size);
  color: $blockquote-footer-color;

  &::before {
    content: "\2014\00A0"; // em dash, nbsp
  }
}