---
# Only the main Sass file needs front matter (the dashes are enough)
---
$on-palm:          600px !default;
$on-laptop:        800px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

@import "minima/custom-variables";
@import "minima";
@import "minima/custom-styles";
