---
layout: default
---
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Blog Posts</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ page.title | escape }}</li>
  </ol>
</nav>

<article>
  <header>
    <h2>{{ page.title | escape }}</h2>

    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

    <p role="doc-subtitle" class="text-secondary">
      <em>Published on {{ page.date | date: date_format }}</em>
    </p>
  </header>

  {{ content }}
</article>