---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
    </p>
    <p class="post-meta">
      {% for tag in site.tags %}
        <a class="tag" href="/tags/#{{ tag[0] }}">{{ tag[0] }}</a>{% if site.tags.last == tag %}, {% endif %}
      {% endfor %}
    </p>
  </header>

  <div itemprop="articleBody">
    {{ content }}
  </div>
</article>